@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --dark-color: #21243d;
  --dark-color-2: #142850;
  --orange-color: #ff6464;
  --blue-color: #00a8cc;
  --blue--color-2: #edf7fa;
  --white-color: #fff;
  --gray--color: #8695a4;
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 5rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  color: var(--dark-color);
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 4rem;
}
.header .burger__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.header .bar {
  width: 25px;
  height: 3px;
  background-color: var(--dark-color-2);
  margin: 5px 0;
}
.header .nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav__list li {
  margin-right: 20px;
}
.header .nav__list a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header .nav__list a:hover {
  color: var(--orange-color);
}
@media (max-width: 800px) {
  .header .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .header .nav__list.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav__list li {
    margin: 0;
    text-align: center;
  }
}

.container__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.container__about .about__desc {
  width: 39rem;
}
.container__about .about__desc ul li {
  margin-bottom: 3rem;
}
.container__about .about__desc ul .desc__items__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  color: var(--dark-color);
}
.container__about .about__desc ul .desc__items__description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--dark-color);
}
.container__about .about__desc ul .desc__items__link button {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  color: var(--white-color);
  display: inline-block;
  border-radius: 2px;
  border: none;
  background-color: var(--orange-color);
  padding: 1.4rem 2rem;
}
.container__about .about__photo {
  background-color: var(--blue--color-2);
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

@media (max-width: 768px) {
  .container__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container__about .about__desc {
    width: 20rem;
  }
}
.container__skills {
  height: 10rem;
  background-color: var(--blue--color-2);
  padding: 3rem;
  max-width: 100%;
  overflow: hidden;
}
.container__skills .title__skills {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--dark-color);
  text-align: center;
}
.container__skills .skills__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}
.container__skills .skills__item img {
  width: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 15px;
}
.container__skills .skills__item span {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--dark-color);
}
.container__skills .skills__item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem;
}
.portfolio__container .title__portfolio {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--dark-color);
}
.portfolio__container .portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45vh;
  gap: 0.4rem;
  -webkit-perspective: calc(var(--index) * 35);
          perspective: calc(var(--index) * 35);
}
.portfolio__container .portfolio__items .portfolio__item {
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 12);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-transition: width 1.25s var(--transition), -webkit-transform 1.25s var(--transition), -webkit-filter 3s var(--transition);
  transition: width 1.25s var(--transition), -webkit-transform 1.25s var(--transition), -webkit-filter 3s var(--transition);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition), -webkit-transform 1.25s var(--transition), -webkit-filter 3s var(--transition);
  will-change: transform, filter;
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
}
.portfolio__container .portfolio__items .portfolio__item::before, .portfolio__container .portfolio__items .portfolio__item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  right: calc(var(--index) * -1);
}
.portfolio__container .portfolio__items .portfolio__item::after {
  left: calc(var(--index) * -1);
}
.portfolio__container .portfolio__items .portfolio__item:has(+ :hover) {
  -webkit-transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
          transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
  -webkit-filter: inherit;
          filter: inherit;
}
.portfolio__container .portfolio__items .portfolio__item:has(+ * + :hover) {
  -webkit-transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
          transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
  -webkit-filter: inherit;
          filter: inherit;
}
.portfolio__container .portfolio__items .portfolio__item:has(+ * + * + :hover) {
  -webkit-transform: translateZ(calc(var(--index) * 2.4)) rotateY(-30deg);
          transform: translateZ(calc(var(--index) * 2.4)) rotateY(-30deg);
  -webkit-filter: inherit;
          filter: inherit;
}
.portfolio__container .portfolio__items .portfolio__item:has(+ * + * + * + :hover) {
  -webkit-transform: translateZ(calc(var(--index) * 0.6)) rotateY(-14deg);
          transform: translateZ(calc(var(--index) * 0.6)) rotateY(-14deg);
  -webkit-filter: inherit;
          filter: inherit;
}
.portfolio__container .portfolio__items .portfolio__item:hover {
  -webkit-transform: translateZ(calc(var(--index) * 10));
          transform: translateZ(calc(var(--index) * 10));
  -webkit-filter: inherit;
          filter: inherit;
}
.portfolio__container .portfolio__items .portfolio__item:hover + * {
  -webkit-transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
          transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  -webkit-filter: inherit;
          filter: inherit;
  z-index: -1;
}
.portfolio__container .portfolio__items .portfolio__item:hover + * + * {
  -webkit-transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
          transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  -webkit-filter: inherit;
          filter: inherit;
  z-index: -2;
}
.portfolio__container .portfolio__items .portfolio__item:hover + * + * + * {
  -webkit-transform: translateZ(calc(var(--index) * 2.4)) rotateY(30deg);
          transform: translateZ(calc(var(--index) * 2.4)) rotateY(30deg);
  -webkit-filter: inherit;
          filter: inherit;
  z-index: -3;
}
.portfolio__container .portfolio__items .portfolio__item:hover + * + * + * + * {
  -webkit-transform: translateZ(calc(var(--index) * 0.6)) rotateY(14deg);
          transform: translateZ(calc(var(--index) * 0.6)) rotateY(14deg);
  -webkit-filter: inherit;
          filter: inherit;
  z-index: -4;
}
.portfolio__container .portfolio__items .portfolio__item:active,
.portfolio__container .portfolio__items .portfolio__item:focus {
  width: 28vw;
  -webkit-transform: translateZ(calc(var(--index) * 10));
          transform: translateZ(calc(var(--index) * 10));
  -webkit-filter: inherit;
          filter: inherit;
  z-index: 100;
  margin: 0 0.45vw;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--blue--color-2);
  padding: 3rem;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.contact__container .contact__text {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--dark-color);
}
.contact__container p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--dark-color);
}
.contact__container .form-container {
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 20rem;
}
.contact__container .feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__container label {
  margin-top: 10px;
  color: var(--dark-color);
}
.contact__container input,
.contact__container textarea {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--gray--color);
  border-radius: 4px;
  width: 100%;
}
.contact__container button {
  background-color: #4caf50;
  color: var(--white-color);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.contact__container button:hover {
  background-color: #45a049;
}

footer {
  background-color: var(--dark-color-2);
  color: var(--white-color);
  padding: 50px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-md-6 {
  width: 48%;
}

h3 {
  font-size: 1.5em;
}

p {
  margin-bottom: 20px;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
.social-icons a img {
  width: 3rem;
}

.bottom-bar {
  background-color: #222;
  padding: 15px 0;
  text-align: center;
}

.bottom-bar p {
  margin: 0;
}