.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    @include menuText;
    .nav__list {
        @include flexCenter;
        gap: 4rem;
    }

.burger__menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--dark-color-2);
  margin: 5px 0;
}

.nav__list {
  list-style-type: none;
  display: flex;
}

.nav__list li {
  margin-right: 20px;
}

.nav__list a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav__list a:hover {
  color: var(--orange-color);
}

@media (max-width: 800px) {
  .burger__menu {
    display: flex;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .nav__list.show {
    display: flex;
  }

  .nav__list li {
    margin: 0;
    text-align: center;
  }
}
}
