:root {
    --dark-color: #21243d;
    --dark-color-2: #142850;
    --orange-color: #ff6464;
    --blue-color: #00a8cc;
    --blue--color-2: #edf7fa;
    --white-color: #fff;
    --gray--color: #8695a4;
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(0.1, 0.7, 0, 1);
}
